.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
    background-color: #fffefe00;
    box-shadow: 25px 25px 50px #000;
    text-align: center;
}

.box .title {
    margin-bottom: 10px;
}
