#box {
    display: inline-block;
    justify-content: left;
    margin: 30px;
    padding: 20px 40px;
    background-color: #D6E9EA;
    box-shadow: 5px 5px 4px #000;
    text-align: center;
}

#box h1 {
    margin-bottom: 10px;
}
