.section {
    background-color: #fff ;
    height: 750px;
    padding-top: 100px;
    padding-left: 100px;
}

.section .wrapper {
    display: flex;
    flex-direction: column;
    width: 750px;
    
}

.section .box {
    margin-bottom: 30px;
    height: 250px;
}

.section .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

